@page "/genome-factory"
@using Solve;
@using System.Threading;
@using Eater.Console;
@inject IJSRuntime jsRunTime;
@inject NavigationManager navigationManager;
@implements IAsyncDisposable;

<h1>Genome Factory</h1>

<div>

	<div id="genomeFactoryDashboard" class="fullPaneView"></div>

	@*<ul class="metricList">
		<li><span>Generate New</span> : <span class="succeded">@metrics.GenerateNew.Succeeded</span> / <span class="failed">@metrics.GenerateNew.Failed</span></li>
		<li><span>Mutation</span> : <span class="succeded">@metrics.Mutation.Succeeded</span> / <span class="failed">@metrics.Mutation.Failed</span></li>
		<li><span>Crossover</span> : <span class="succeded">@metrics.Crossover.Succeeded</span> / <span class="failed">@metrics.Crossover.Failed</span></li>
		<li><span>External</span> : <span>@metrics.ExternalProducerQueried</span></li>
	</ul>*@

</div>

@code {

	Task chartDispose = Task.CompletedTask;

	protected override Task OnInitializedAsync()
	{
		navigationManager.LocationChanged += HandleLocationChanged!;

		return base.OnInitializedAsync();
	}

	private void HandleLocationChanged(object sender, LocationChangedEventArgs e)
	{
		chartDispose = DisposeChart(chartDispose);
	}

	const string CHART_INIT = "main.genomeFactoryDashboard.init";
	const string CHART_DISPOSE = "main.genomeFactoryDashboard.dispose";

	async Task DisposeChart(Task previous)
	{
		var completed = previous.IsCompleted;
		await previous;
		if (completed) await jsRunTime.InvokeVoidAsync(CHART_DISPOSE);
	}

	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		await base.OnAfterRenderAsync(firstRender);
		if (firstRender) await jsRunTime.InvokeVoidAsync(CHART_INIT);
	}

	public async ValueTask DisposeAsync()
	{
		var d = DisposeChart(chartDispose);
		chartDispose = d;
		await d;
	}
}
